html, body {
  margin:0 auto;
  padding: 0;
  background-color: #FFF;
}

.head {
  width: 100%;
  text-align: center;
}

.logo-area {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 20px 0px;
  
}

#logo {
  width: 30px;
  height: 20px;
}

h1 {
  display: inline;
}

h2 {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight:600;
  font-size: 42px;
  padding:0;
  margin-bottom: 5px;
}

h3 {
  color: #000;
  font-family: Raleway, sans serif;
  font-weight: 600;
  font-size: 18px;
}

.nav {
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid #D6D2D2;
}

ul {
  padding:0;
}

li {
  display: inline;
  padding: 10px 20px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

.main {
  margin: 0 auto;
  height: 1040px;
  width: 100%;
}
.main-cover {
  background: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bicycles.jpeg") no-repeat top center;
  background-size: cover;
  height: 400px;
}

.main-content {
  position: relative;
  top: 0;
  box-sizing: border-box;
}

.main-content1 {
  width: 48%;
  height: 300px;
  text-align: right;
  display: inline-block;
  margin-top: 100px;
  overflow-y: auto;
}

#mainContent-image {
  padding: 0;
  width: 470px;
  height: 260px;
  
}

.main-content2 {
  box-sizing: border-box;
  width: 48%;
  height: 300px;
  margin: 0 auto;
  margin-left: 20px;
  text-align: left;
  display: inline-block;
  overflow-y: auto;
}


.breads {
  padding:0px 10px 0px 10px;
  margin: 10px 0px;
  
}

.top-news {
  background: #F2F0F0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.top-news h3 {
  margin-bottom: 30px;
}
.top-news p {
  font-size: 12px;
  margin: 0 auto;
  max-width: 500px;
  overflow: auto;
  padding-bottom: 60px;
}

.breads p {
  font-size: 14px;
  padding-right: 0;
  max-width: 450px;
}

p {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}
