html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

.nav {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 10000;
}

.ul {
  padding: 0;
}
li {
  display: inline;
  font-family: Abel, sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
}

#logo {
  padding: 0 50px;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 32px;
  color:#FCA311;
}

.main-box {
  background: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bicycles.jpeg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  height: 900px;
  position: relative;
  width: 100%;
  top: -55px; 
}

.main-info {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: 280px;
  width: 70%;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 72px;
  color:#FFF;
  line-height:60px;
  padding: 20px 10px;
}

h2 {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: #000;  
}

h3 {
  font-family: Abel, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #14213D;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #FCA311;
  font-family: Abel, sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin: 0px 0px 50px 0px;
}

p {
  color: #333;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

a {
  text-decoration: none;
}
.btn-main {
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  color: #FFF;
  text-transformation: uppercase;
  padding: 14px;
  background-color: #14213D;
  background-image: -webkit-linear-gradient(#FFD194,#BC1324);
}

.btn-buy {
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  text-transform: uppercase;
  background: #333;
  padding: 14px;
  background-image: -webkit-linear-gradient(#FFD194,#BC1324);
}

.products {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding:20px 0px;
  text-align: center;
}

.product {
  display: inline-block;
  width: 45%;
  padding: 0px 2% 80px 2%;
  text-align: center;
}

img {
  width: 100%;
}
